VITE_SUPABASE_URL=https://glaezvvzprmlbwjyuurq.supabase.co
VITE_SUPABASE_PROJECT_ID=glaezvvzprmlbwjyuurq
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_PADDLE_CLIENT_TOKEN=
VITE_PADDLE_PRO_PRICE_ID=
VITE_PADDLE_FULL_PRICE_ID=
